<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/bootstrap.min.css")

    @Styles.Render("~/Content/alertify.min.css")

    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="~/Images/iconos/bombilla.svg" alt="logo" style="width:40px;" />
            @Session["NOMBRE"]
        </a>
    
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Usuarios/Index">Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Usuarios/ABM">Usuarios(admin)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Productos/ABM">Productos(admin)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Productos/Cards">Productos(cliente)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Test/Jquery">Carrito  <i class="fas fa-cart-plus"></i><label id="idCantidadCarrito"></label></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Alumno/TablaAlumnos">Pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Usuarios/CambiarClave">Cambiar Clave</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Usuarios/Login">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
            </li>

        </ul>
    </nav>


    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.ToLongDateString().ToUpper() - BENJA Application</p>
        </footer>
    </div>


    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Scripts.Render("~/Scripts/alertify.min.js")

    <!--  Font Awesome -->
    @Scripts.Render("~/Scripts/all.min.js")

    @RenderSection("scripts", required: false)

</body>
</html>
